In [1]:
# -*- coding: utf-8 -*-
%matplotlib inline

import pandas as pd
import numpy as np
import math
import matplotlib as mplstyle
import matplotlib.pyplot as plt
import locale
from locale import atof
from dateutil import parser
from datetime import datetime

plt.style.use('fivethirtyeight')

In [135]:
df_vouchersBySchool = pd.read_csv('school_choice_data/imported_data/awards_by_school_16.csv')
df_specialEdEnrollment = pd.read_csv('school_choice_data/gov_data/EnrollmentEnglishLearnerSpecEdSchls_ALL.csv')
df_missingSpecialEdEnrollment = pd.read_csv('school_choice_data/imported_data/updatedEnrollment.csv')
df_vouchersByOgSchoolDistrict = pd.read_csv('school_choice_data/imported_data/voucher-students-by-original-school-district.csv')
df_publicSpecEdEnrollment = pd.read_csv('school_choice_data/gov_data/PublicEnrollmentEnglishLearnerSpecEd.csv')
df_schoolGrades2015 = pd.read_csv('school_choice_data/imported_data/final-2016-af-school-grades.csv')

In [140]:
# Functions

# normalize numbers
def normalizeNums(num):
    if (math.isnan(num)):
        return None
    else:
        num = int(math.floor(num))
        return num
    
# multiply by 100 to convert from percent
def convertPercent(num):
    return num * 100

# normalize percent from x%
def normalizePerc(num):
    try:
        float(num.strip('%'))
    except AttributeError:
        return num
    return float(num.strip('%'))
    
# get average award
def averageAward(awardCount, awardAmount):
    if math.isnan(awardAmount) or math.isnan(awardCount):
        return None
    return round((awardAmount/awardCount),2)

# Convert NaN to zeros
# the zeros do not always indicate that no students 
# were in the program. schools with less than ten 
# students do not have to report 
def convertInt(num):
    if math.isnan(num):
        return 0
    else:
        return int(num)
    
# calculate percent
def calcPerc(num, denom):
    if num != 0:
        percent = (float(num/denom))*100
        return round(percent,2)
    else:
        return None
    
# calculate percent change
def percentChange(oldVal, newVal):
    val1 = float(oldVal)
    val2 = float(newVal)
    change = (val2-val1)/val1
    return float(change)

# fill in missing values
def fillInfo(choiceCell, backupCell):
    if pd.isnull(choiceCell):
        return backupCell
    elif math.isnan(choiceCell):
        return backupCell
    else:
        return choiceCell
    
# replace with None
def fillNone(num):
    if num == 1:
        return None
    else:
        return num

In [84]:
# VOUCHER ENROLLMENT DATA

df_vouchersBySchool

def replaceSymbols(id):
    if id == '*':
        return 9
    elif id == '-':
        return 0
    else:
        return id

df_vouchersBySchool2016_filtered = df_vouchersBySchool
df_vouchersBySchool2016_filtered['Voucher enrollment 2016'] = df_vouchersBySchool2016_filtered['2016-2017'].apply(replaceSymbols)
# df_vouchersBySchool2016_filtered

# Trim out data from 2011-2015.
df_vouchersBySchool2016_trimmed = df_vouchersBySchool.drop(['2011-2012','2012-2013','2013-2014','2014-2015','2015-2016','2016-2017'], axis=1)
df_vouchersBySchool2016_trimmed

# Filter out schools with no voucher enrollment in 2016
# In the data, 1 == "-", and 9 == "Less than 10 voucher students"
# We want to filter out the "-" ones because they're basically zero.
df_vouchersBySchool2016_trimmed = df_vouchersBySchool2016_trimmed[df_vouchersBySchool2016_trimmed['Voucher enrollment 2016'] > 0]
# df_vouchersBySchool2016_trimmed

In [152]:
# INDIANA SCHOOL ENROLLMENT (ALL)

# Filter out the public schools.
# Public school IDs are numbers-only. Private school IDs have letters + numbers.
def filterPrivate(id):
    if pd.isnull(id):
        return True
    else:
        try:
            float(id)
        except ValueError:
            return False
        return True

df_specialEdEnrollment_filtered = df_specialEdEnrollment
df_specialEdEnrollment_filtered['filter'] = df_specialEdEnrollment_filtered['SCHL_NAME_CODE'].apply(filterPrivate)
df_specialEdEnrollment_filtered = df_specialEdEnrollment_filtered[df_specialEdEnrollment_filtered['filter'] == False]
df_specialEdEnrollment_filtered = df_specialEdEnrollment_filtered.reset_index()

# Tidy and rename columns
df_specialEdEnrollment_trimmed = df_specialEdEnrollment_filtered.drop(['index','CORP','CORP_NAME','ENR_ELL_N','ENR_ELL_RATIO', 'filter'], axis=1)
df_specialEdEnrollment_trimmed = df_specialEdEnrollment_trimmed.rename(columns = {'SCHL_NAME_CODE':'School No.','SCHL_NAME':'School Name','ENR_SPEC_ED_N':'Special ed enrollment 2016','ENR_SPEC_ED_RATIO':'Special ed ratio 2016','ENROLLMENT_N':'Total enrollment 2016'})
df_specialEdEnrollment_trimmed['Special ed ratio 2016'] = df_specialEdEnrollment_trimmed['Special ed ratio 2016'].apply(normalizePerc)
df_specialEdEnrollment_trimmed

# Tidy and rename updated enrollment columns
df_missingSpecialEdEnrollment = df_missingSpecialEdEnrollment.rename(columns = {'School ID':'School No.','SpecEd 2016':'Special ed enrollment 2016','SpecEd Perc':'Special ed ratio 2016','Enrollment 2016':'Total enrollment 2016'})
df_missingSpecialEdEnrollment['Special ed ratio 2016'] = df_missingSpecialEdEnrollment['Special ed ratio 2016'].apply(normalizePerc)
df_missingSpecialEdEnrollment

# Merge w/ other special education data
df_specialEdEnrollment_merged = df_specialEdEnrollment_trimmed.merge(df_missingSpecialEdEnrollment,on='School No.', how='outer')
df_specialEdEnrollment_merged['Special ed enrollment 2016'] = np.vectorize(fillInfo)(df_specialEdEnrollment_merged['Special ed enrollment 2016_x'],df_specialEdEnrollment_merged['Special ed enrollment 2016_y'])
df_specialEdEnrollment_merged['Special ed ratio 2016'] = np.vectorize(fillInfo)(df_specialEdEnrollment_merged['Special ed ratio 2016_x'],df_specialEdEnrollment_merged['Special ed ratio 2016_y'])
df_specialEdEnrollment_merged['Total enrollment 2016'] = np.vectorize(fillInfo)(df_specialEdEnrollment_merged['Total enrollment 2016_x'],df_specialEdEnrollment_merged['Total enrollment 2016_y'])
df_specialEdEnrollment_merged = df_specialEdEnrollment_merged.drop(['Special ed enrollment 2016_x','Special ed enrollment 2016_y','Special ed ratio 2016_x','Special ed ratio 2016_y','Total enrollment 2016_x','Total enrollment 2016_y'], axis=1)
df_specialEdEnrollment_merged
df_specialEdEnrollment_merged.to_csv('school_choice_data/exported_data/df_specialEdEnrollment_merged.csv')

# Merge w/ voucher school data
# df_vouchersSpecialEd_merged = df_vouchersBySchool2016_trimmed.merge(df_specialEdEnrollment_trimmed,on='School No.', how='outer')
# df_vouchersSpecialEd_merged = df_vouchersSpecialEd_merged.drop(['School Name_y'], axis=1)
# df_vouchersSpecialEd_merged = df_vouchersSpecialEd_merged.rename(columns = {'School Name_x':'School Name'})
# df_vouchersSpecialEd_merged

,School No.,School Name,Special ed enrollment 2016,Special ed ratio 2016,Total enrollment 2016
0,A425,St Bartholomew School,19.0,5.08,374.0
1,A550,St John Paul II Catholic School,30.0,9.09,330.0
2,A560,Saint Anthony of Padua,41.0,12.24,335.0
3,A570,Sacred Heart School,22.0,12.09,182.0
4,A575,Our Lady Of Providence High School,34.0,6.95,489.0
5,A680,Saint Nicholas School,6.0,5.56,108.0
6,A685,All Saints Catholic Academy,10.0,16.13,62.0
7,A690,Saint Mary School,12.0,10.91,110.0
8,A700,Saint Lawrence School,12.0,5.80,207.0
9,A730,Saint Mary's School,26.0,10.24,254.0
10,B035,Saint Gabriel Catholic School,9.0,6.47,139.0
11,B050,Holy Family School,18.0,5.31,339.0
12,B060,Our Lady Of Perpetual School,29.0,8.01,362.0
13,B067,St Mary of-the-Knobs Catholic Sch,15.0,7.39,203.0
14,B095,Saint Michael School,18.0,7.93,227.0
15,B265,Saint Michael School,19.0,8.72,218.0
16,B280,Saint Joseph School,9.0,11.25,80.0
17,B285,Saint Malachy School,29.0,6.92,419.0
18,B300,Saint Susanna School,27.0,11.25,240.0
19,B440,Saint Ambrose School,14.0,9.59,146.0
20,B505,Shawe Memorial High School,7.0,4.52,155.0
21,B510,Pope John XXIII Elementary School,11.0,3.54,311.0
22,B515,Saint Mary School,12.0,6.67,180.0
23,B518,St Rose of Lima School,17.0,9.60,177.0
24,B535,Our Lady of the Greenwood School,28.0,9.40,298.0
25,B540,SS Francis and Clare Catholic Sch,55.0,10.62,518.0
26,C160,Saint Vincent DePaul School,11.0,5.76,191.0
27,C265,Nativity Catholic School,27.0,6.73,401.0
28,C280,Saint Lawrence School,22.0,8.87,248.0
29,C295,Saint Barnabas School,39.0,7.29,535.0
...,...,...,...,...,...
333,D056,NaN,0.0,0.00,8.0
334,A352,NaN,0.0,0.00,4.0
335,A515,NaN,NaN,NaN,NaN
336,B195,NaN,NaN,NaN,NaN
337,B985,NaN,NaN,NaN,NaN
338,A479,NaN,NaN,NaN,NaN
339,D526,NaN,NaN,NaN,NaN
340,B037,NaN,NaN,NaN,NaN
341,B790,NaN,NaN,NaN,NaN
342,A865,NaN,NaN,NaN,NaN
343,A309,NaN,NaN,NaN,NaN
344,A302,NaN,NaN,NaN,NaN
345,D722,NaN,NaN,NaN,NaN
346,C224,NaN,NaN,NaN,NaN
347,A870,NaN,NaN,NaN,NaN
348,C205,NaN,NaN,NaN,NaN
349,C040,NaN,NaN,NaN,NaN
350,B800,NaN,NaN,NaN,NaN
351,D465,NaN,NaN,NaN,NaN
352,C145,NaN,NaN,NaN,NaN
353,C210,NaN,NaN,NaN,NaN
354,B065,NaN,NaN,NaN,NaN
355,D615,NaN,NaN,NaN,NaN
356,D458,NaN,NaN,NaN,NaN
357,B293,NaN,NaN,NaN,NaN
358,B901,NaN,NaN,NaN,NaN
359,D058,NaN,NaN,NaN,NaN
360,B557,NaN,NaN,NaN,NaN
361,D676,NaN,NaN,NaN,NaN
362,B807,NaN,NaN,NaN,NaN

In [145]:
# SCHOOL GRADES

# Tidy and rename columns
df_schoolGrades2015_trimmed = df_schoolGrades2015.drop(['IDOE_CORPORATION_ID','CORPORATION_NAME'], axis=1)
df_schoolGrades2015_trimmed = df_schoolGrades2015_trimmed.rename(columns = {'IDOE_SCHOOL_ID':'School No.','SCHOOL_NAME':'School Name','2015 Grade':'2015_grade'})
# df_schoolGrades2015Trimmed

# Merge w/ voucher school data
df_vouchersSpecialEdGrades_merged = df_vouchersSpecialEd_merged.merge(df_schoolGrades2015Trimmed,on='School No.', how='outer')
df_vouchersSpecialEdGrades_merged = df_vouchersSpecialEdGrades_merged.drop(['School Name_y'], axis=1)
df_vouchersSpecialEdGrades_merged = df_vouchersSpecialEdGrades_merged.rename(columns = {'School Name_x':'School Name'})
# df_vouchersSpecialEdGrades_merged

# Filter out all schools without vouchers in 2016
df_vouchersSpecialEdGrades_merged = df_vouchersSpecialEdGrades_merged[df_vouchersSpecialEdGrades_merged['Voucher enrollment 2016'] > 0]
# df_vouchersSpecialEdGrades_merged

In [146]:
# Assign schools to parent school districts

# Tidy and rename
df_vouchersByOgSchoolDistrict_filtered = df_vouchersByOgSchoolDistrict.rename(columns = {'Corp. No.':'District No.','Corporation Name':'District Name'})
df_vouchersByOgSchoolDistrict_filtered = df_vouchersByOgSchoolDistrict_filtered.drop(['Voucher students from this district (2016-2017)'], axis=1)
# df_vouchersByOgSchoolDistrict_filtered

# Merge w/ school ID
df_vouchersSpecialEdGradesDistricts_merged = df_vouchersSpecialEdGrades_merged.merge(df_vouchersByOgSchoolDistrict_filtered,on='School No.', how='outer')
# df_vouchersSpecialEdGradesDistricts_merged